<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 80%; margin: auto; font-family: Arial, sans-serif;">

    <h2 style="text-align: center;">Team Details</h2>

    <table border="1" cellspacing="0" cellpadding="10" style="width: 100%; border-collapse: collapse; text-align: center; background-color: #e6ecff;">
        <thead style="background-color: #337ed6; color: white;">
            <tr>
                <th>Program</th>
                <th>USN</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ECE</td>
                <td>1RV23EC413</td>
                <td>SUJAL AMBEWADI</td>
            </tr>
            <tr>
                <td>ECE</td>
                <td>1RV23EC411</td>
                <td>SHREYASH MITHARE</td>
            </tr>
            <tr>
                <td>CSE</td>
                <td>1RV23CS410</td>
                <td>NAGAPRASAD NAIK</td>
            </tr>
            <tr>
                <td>CSE</td>
                <td>1RV23CS406</td>
                <td>MANJU SHREE YADAV D</td>
            </tr>
            <tr>
                <td>ME</td>
                <td>1RV22ME125</td>
                <td>VRUNDA R</td>
            </tr>
        </tbody>
    </table>

    <h2 style="text-align: center; margin-top: 40px;">Internal Guide</h2>

    <div style="background-color: #337ed6; color: white; text-align: center; padding: 20px; font-weight: bold;">
        Dr. VEENA DEVI S V<br>
        Associate Professor<br>
        Electronics and Communication Engineering (ECE)
    </div>

</div>


</body>
</html>